{% for post in include.posts %}
	<li class="blog-post">
		<h3><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h3>
		{% include post-title.html post=post %}
		{%- if post.image -%}
		<img src="{{- post.image | relative_url -}}" alt="" style="height: 100px; width: 100px; display: block; margin: 0 auto;">
		{%- endif -%}
		<div class="post-content">
			{{ post.excerpt }}
			<div class="button"><a href="{% include relative-src.html src=post.url %}">Read More</a></div>
		</div>
	</li>
{% endfor %}
